<ol id="comment-list">
    {{#each this}}
    <li class="view-comment">
        <div class="comment-author">
            <i class="fa-solid fa-comment"></i> {{user.username}} on {{format_date created_at}}, {{format_time created_at}}
        </div>
        <div class="comment-body">
            {{comment}}
        </div>
    </li>
    {{/each}}
</ol>