<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <!-- Font Awesome -->
    <script src='https://kit.fontawesome.com/d6ff1e54be.js' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='/assets/css/style.css' />
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                <h1><a href="/">Tracking Tech</a></h1>
                <h2>A tech blog</h2>
            </div>
            <nav>
                <a href="/dashboard">Dashboard</a>
                {{#if loggedIn}}
                <button id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            &copy; <span id="getYear"></span> <a href="https://github.com/JColeCodes" target="_blank">ColeCodes</a>
        </footer>
    </div>
    <script src="/assets/js/script.js"></script>
</body>
</html>